<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DefLayout{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
</html>
{{> header1 }}
<body>
    {{{ body }}}
</body>
{{> footer1 }}
</html>

